<h1>Team Show Page</h1>
<%= link_to "Roster", "/teams/#{@teams.id}/players" %>
<br>
<h2>Team ID: <%= @teams.id %> </h2>
<br>
<h3>Roster Size: <%= @teams.roster_count %></h3>
<h3>City: <%= @teams.city %> </h3>
<h3>Team Name: <%= @teams.team_name %> </h3>
<h3>Stanley Cup Champion: <%= @teams.stanley_cup_champ %> </h3>
<h3>Points: <%= @teams.points %> </h3>
<h3>Division: <%= @teams.division %> </h3>


