<h1>Player Show Page</h1>
<br>
<h2>Player ID: <%= @players.id %>
<br>
<h3>Team ID: <%= @players.team_id %> </h3>
<h3>Name: <%= @players.name %> </h3>
<h3>Birthplace: <%= @players.birthplace %> </h3>
<h3>League Award Winner: <%= @players.league_award_winner %> </h3>
<h3>Jersey Number: <%= @players.jersey_number %> </h3>
<h3>Position: <%= @players.position %> </h3>